/node_modules
node_modules/.cache

.DS_Store

public/mix-manifest.json

public/uploads
/public/uploads
public/uploads/
/public/uploads/

README.md

composer.lock
/composer.lock
composer.phar
package-lock.json

vendor
/vendor

.env
.env.backup
.env-bkp.env
.env.*.php
.env.php

public/hot
public/js/app.js
public/css/app.css

/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode