html {
    scroll-behavior: smooth;
}
.form-style {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #ededed;
}
.form-style-filter{
    background: #fff;
    border-radius: 15px;
    padding: 0px;
    border: 1px solid #ededed;
}
.searchinput{
    border: 1px solid #dbdfe9;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.step-bars {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.step-bars .horizontal-line {
    border-top: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    width: 100%;
}
.step-bars .step-wrapper {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.step-bars .step-wrapper .step {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 60px;
    z-index: 1;
}
.step-bars .step-wrapper .step span.active {
    background-color: #17c653;
    position: relative;
}
.step-bars .step-wrapper .step .title {
    color: #38393b;
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 600;
}
.step-bars .step-wrapper .step .description {
    color: #000;
}
.step-bars .step-wrapper .step p {
    text-align: center;
}
.step-bars .step-wrapper .step span {
    align-items: center;
    align-self: center;
    background-color: #a1f6be;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-bottom: 12px;
    width: 30px;
}
.step-bars .step-wrapper .step span.active:before {
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    height: 21px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
}
.image-input-wrapper {
    background-image: url("../media/svg/avatars/blank.svg");
}
.profile .image-input [data-kt-image-input-action=change] {
    top: 50%;
}
/* [data-bs-theme="dark"] .image-input-placeholder {
    background-image: url('svg/avatars/blank-dark.svg');
} */
.joblist {
    margin-top: 60px;
}
.filterStyle .categorylist {
    height: 140px;
    overflow: auto;
}
.jobleft_sec {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #ededed;
    padding: 15px;
}
.job_detail .naukri-details {
    border-radius: 0;
    border: none;
    padding: 0;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.job_detail .company img {
    max-width: 75px;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 7px;
    margin-right: 5px;
}
.job_detail {
    padding: 0;
    border: none;
    box-shadow: none !important;
    background: none;
}
.job_detail:hover {
    background: none;
    box-shadow: none !important;
}
.job_detail_right {
    background: none;
    box-shadow: none !important;
    border: none;
    padding: 0;
}
.job_detail_right .naukri-details {
    border: none;
    border-radius: 0;
    padding: 0;
}
.job_detail_right .company img {
    max-width: 52px;
}
.job_detail_right:hover {
    background: none;
    box-shadow: none !important;
}
.employee-sidebar {
    background: #fff;
    border-radius: 15px;
    padding: 0px;
    border: 1px solid #ededed;
}
.employee-sidebar .app-sidebar-menu .menu>.menu-item>.menu-link {
    font-size: 15px;
    font-weight: 400;
    color: #121224;
}
.employee-sidebar .app-sidebar-menu .menu>.menu-item>.menu-link.active {
    background-color: #f7f7f9;
    border-color: #f7f7f9;
    font-weight: 600;
}
.employee-sidebar .app-sidebar-menu .menu>.menu-item>.menu-link:hover {
    background-color: #f7f7f9;
    border-color: #f7f7f9;
    font-weight: 600;
}
a{
    color: #121224;
}
.user-sub-menu .menu-item .menu-link {
    font-size: 15px;
    font-weight: 500;
    color: #252f4a !important;
}
.card-style {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ededed;
    box-shadow: none;
}
.card-style .card-body {
    padding: 0;
}
.employee-sidebar .user-details-inner .user-image img {
    border: 2px solid #17c653;
    padding: 3px;
}
.profile-performance {
    padding: 12px 8px 8px;
    border-radius: 8px;
    background: #f8fefa;
    margin: 15px;
}
.user-navtab li.nav-item.active {
    border-bottom: 3px solid #121224;
}
.user-navtab li.nav-item.active a.nav-link {
    color: #121224;
}
.user-navtab li.nav-item a.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #717b9e;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    border-color: #fff;
    border-bottom: none;
}
.user-navtab li.nav-item.active .nav-link:hover, .user-navtab li.nav-item.active .nav-link:focus{
    border-color: #fff;
    border-bottom: none;
    border-radius: 0px;
}
.nav-tabs .nav-link{
    border-radius: 0px;
}
.user-navtab li.nav-item.active .nav-link{
    border-radius: 0px;
    border-bottom: 0px;
}
.dashboard {
    padding: 15px;
}
.job_card {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #ededed;
}
.job_card .company {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px;
}
.match-profile{
    background: #f7f7f9;
    border: 1px solid #e7e7f1;
    border-radius: 15px;
    padding: 15px;
}
.jobdetail {
    margin-top: 60px;
}
.loginform{
    margin-top: 60px;
    margin-bottom: 60px;
}
.auth-fluid-form-box {
    max-width: 560px;
    border-radius: 17px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0px 0px #00000047;
    border: 1px solid #e7eaf0;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.auth-step-form-box {
    max-width: 560px;
    border-radius: 17px;
    padding: 20px 20px;
    background: #fff;
    box-shadow: 0 0px 0px #00000047;
    border: 1px solid #e7eaf0;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search {
    /* box-shadow: 0 6px 12px rgba(30,10,58,.04); */
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #ededed;
}
.searchbtn {
    padding: 5px !important;
    right: 6px;
    top: 5px;
    border-radius: 5px;
}
.notification{
    max-width: 855px;
    margin: 0 auto;
}
.change-password{
    max-width: 855px;
    margin: 0 auto;
}
.profile .employee-sidebar .menu-item .menu-link {
    font-size: 15px;
    font-weight: 400;
    color: #121224;
}
.profile .employee-sidebar .menu-item .menu-link:hover {
    background-color: #f7f7f9;
    border-color: #f7f7f9;
    font-weight: 500;
}
.personalD h5{
    font-weight: 500;
}
.quickLink{
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  height: 100vh;
  min-height: 200px;
}
.prefill span {
    background: #fff;
    padding: 4.5px 8px;
    border: 1px solid #e7e7f1;
    border-radius: 50px;
    margin: 10px 10px 0 0;
    max-width: 515px;
}
.resume .dropzone {
    padding: 2.5rem 1.75rem;
    background-color: #fff;
    border-color: #ddd;
}
.resume .dropzone .dz-message.needsclick {
    justify-content: center;
}
.iconstyle {
    height: 38px;
    width: 38px;
    padding: 8px 6px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
}
.iconstyle i{
    color: #222;
}
.blogcard img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: none;
}
.blogcard .card-body {
    background: #fff;
    border-bottom-left-radius: 15px;
    padding: 10px;
    border: 1px solid #ededed;
    border-bottom-right-radius: 15px;
}
.container {
    max-width: 1250px;
}
.user-details-inner .user-image .image-input-wrapper {
    border: 2px solid #17c653;
    padding: 3px;
}
.information{
    min-height: 600px;
}
.notification {
    max-width: 75%;
}
.change-password {
    max-width: 75%;
}
.about-section-three .images-box .column {
    position: relative;
    padding: 0 5px;
}
.about-section-three .images-box .image {
    position: relative;
    margin-bottom: 10px;
}
.about-section-three .images-box .image img {
    border-radius: 4px;
    width: 100%;
}
.about-section-three .fun-fact-section {
    padding: 50px 0 30px;
    max-width: 900px;
    margin: 0 auto;
}
.fun-fact-section .counter-column {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.fun-fact-section .count-box {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 1em;
    color: #202124;
    font-weight: 500;
}
.fun-fact-section .counter-title {
    font-size: 17px;
    line-height: 30px;
    color: #696969;
    font-weight: 400;
    display: block;
}
.call-to-action-two {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 110px;
    text-align: center;
}

.inner-box {
    text-align: center;
    transition: all 300ms ease;
}
.howitwork .container {
    max-width: 900px;
}

.how-count {
    position: absolute;
    top: 3px;
    right: 25px;
}
.how-count-left {
    left: 25px;
    right: auto;
}
.privacypolicy ul li {
    line-height: 28px;
}
